<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:C:\\Facultate\\Sem 4\\ISS\\bugs.db</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="com.example.domain.Tester"/>
        <mapping class="com.example.domain.Programmer"/>
        <mapping class="com.example.domain.Bug"/>
        <mapping class="com.example.domain.Project"/>
        <mapping class="com.example.domain.Company"/>
    </session-factory>
</hibernate-configuration>